.chart {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    box-sizing: border-box;
    align-items: center;
}

.multiSelectHolder {
    box-sizing: border-box;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.chartTitleInput {
    box-sizing: border-box;
    font-family: Lexend;
    font-size: 1.5rem;
    width: 100%;
    box-sizing: border-box;
}

.chartDiv {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 90%;
    flex:1;
    box-sizing: border-box;
}

.chartSelectDiv {
    width: 100%;
    box-sizing: border-box;
}

.graphButtons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}

.rowMultiSelect {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.chartPreview {
    width: 100%;
    height: 100%;
    min-height: 200px;
    box-sizing: border-box;
}

.dataContent {
    flex: 1;
    box-sizing: border-box;
}

.footerButons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    box-sizing: border-box;
}

.updateButton {
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #0BDA51;
    font-weight: bold;
    border: none;
    box-sizing: border-box;
    padding: 10px;
}

.updateButton:hover {
    background-color: #3cf57b ;
}