.modalContent {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 100;
  margin: 0 auto;
  background-color: #ffffff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  font-family: Lexend;
}

.modalCloseHeader {
  display: flex;
  height: 47px;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  background-color: #ececec;
}

.modalTitle {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalBody {
  flex-grow: 1;
  overflow: auto;
}
