.sidebar {
  height: 100%;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f06a66;
  box-sizing: border-box;
}

.sidebar-option {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0px;
}
