@font-face {
  font-family: Lexend;
  src:url(/src/Config/Font/LexendGiga-VariableFont_wght.ttf);
}
.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  height: 100vh;
font-family: Lexend;
}
