@font-face {
  font-family: Lexend;
  src: url(/src/assets/font/LexendGiga-VariableFont_wght.ttf);
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
}

.app-main {
  flex: 1;
  overflow-y: auto;
}
